body{
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}


.shar{
    width: 500px;
    height: 500px;
    background-color: azure;
    border-radius: 50%;
}